@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  transform: translate3d(0, 0, 0);
}

a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  transition: text-decoration 300ms;
  @apply decoration-transparent;
}

#nav a {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  transition: text-decoration 500ms;
  @apply decoration-transparent;
}

a:hover,
#nav a.active {
  @apply decoration-white !important;
}

.feature-screenshot-enter {
  opacity: 0;
}

.feature-screenshot-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.feature-screenshot-exit {
  opacity: 1;
}

.feature-screenshot-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
